.header{
    height: 40px;
    line-height: 30px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    .title{
        height: 100%;
        width: 100%;
        border-bottom: 3px solid rgb(0, 170, 0);
        box-sizing: border-box;
        color: rgb(0, 153, 0);
        font-size: 25px;
        font-weight: bolder;
    }
}