.newhome{
    width: 85%;
    height: 650px;
    // background-color: rgb(252, 243, 230);
    position: absolute;
    right: 0;
    overflow:  hidden auto;
    padding: 10px;
    box-sizing: border-box;
    .column{
        max-width: 150px;
    }
}
