.mainbox{
    position: relative;
    .toTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-Index: 999
    }
    .bg{
        width: 100%;
        height: 55vh;
        position: absolute;
        top: -5vh;
        animation: animation 5s linear infinite;
    }
    @keyframes animation{
        0% {
            opacity: 0.6;
          }
          80% {
            opacity: 1;
          }
          100%{
             opacity: 0.8;
          }
    }
    .bg-text{
        position: absolute;
        width: 80%;
        height: 200px;
        top: 15vh;
        left: 10%;
        height: 10vh;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight:500;
        font-style:italic;
        line-height: 10vh;
    }
    .search{
        position: absolute;
        width: 80%;
        height: 230px;
        border-radius: 5px;
        top: 35vh;
        left: 10%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0  15px rgba(0, 0, 0,0.2);
        .searchinput{
            position: absolute;
            top: 10%;
            left: 5%;
            width: 60%;
        }
        .searchbut{
            display: flex;
            gap: 10px;
            position: absolute;
            top: 10%;
            left:68% ;
        }
        .fastSearch{
            display: flex;
            justify-content: space-between;
            width: 90%;
            height: 140px;
            position: absolute;
            top: 35%;
            left: 5%;

        }
    }
    .content{
        position: absolute;
        width: 80%;
        top: 65vh;
        left: 10%;
        padding-bottom: 80px;
        @mixin content-parts{
            margin-top: 8vh;
            width: 100%;
            position: relative;
 
            .hot-title{
                font-size: 22px;
            }
      
            .hot-more{
                cursor: pointer;
                position: absolute;
                color: rgb(83, 83, 83);
                right: 0;
                top: 0;
            }
            .hot-more:hover{
                color: rgb(0, 150, 0);
                text-decoration-line: underline;
            }
        }
        .content-part{
            @include content-parts;
            .part-item{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
                gap: 20px;
            }
          
        }
        .banner{
            width: 100%;
            overflow: hidden;
            .part1{
                width: 200%;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
                transition: 1s;
                margin-left: 0%;
                padding: 15px;
                box-sizing: border-box;
                .part1-content{
                    width: 24%;
                    height: 100%;
                    &:hover{
                        box-shadow: 0 0 20px rgba(0, 0, 0,0.3);
                    }
                .part1-img{
                    width: 100%;
                    height: 80%;
                }
                .part1-detail{
                        width: 100%;
                        .part1-name{
                            font-size: 18px;
                        }
                        .part1-size{
                            color: rgba(0, 0, 0,0.7);
                        }
                        .part1-price{
                            color: red;
                            font-size: 18px;
                        }
                }
                }
            
            }

                    
        }

    }
}
