.newhome{
    width: 85%;
    height: 650px;
    background-color: rgb(252, 243, 230);
    position: absolute;
    right: 0;
    overflow: auto;
    padding: 5px;
    box-sizing: border-box;
}
