.used{
    width: 85%;
    height: 650px;
    // background-color: rgb(252, 243, 230);
    position: absolute;
    right: 0;
    overflow:  auto auto;
    padding: 10px;
    box-sizing: border-box;
    .searchpart{
        box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
        padding-top: 20px;
        box-sizing: border-box;
    }
    .column{
        max-width: 150px;
        min-width: 80px;
    }
    .column2{
        width: 100px;
    }
    .operation{
        width: 80px;
    }
    .name{
        font-size: 20px;
        font-weight: bold;
    }
    .upload{
        display: flex;
        .uploaditem{
            width: 40%;
            background-color: aquamarine;
            img{
                width: 80px;
            }
        }
    }
}
